 body {
    background-image: url('../images/backG.jpg');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: fixed;
 }

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
}

.filter-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.form-label {
    font-weight: bold;
    color: #ffffff;
}


.custom-card {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid red;
    color: white;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item input[type="checkbox"] {
    margin-right: 8px;
}
.country-checkbox {
    accent-color: red;
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

#countryDropdownMenu .dropdown-item {
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
}

#countryDropdownMenu .dropdown-item:hover {
    background-color: #787878;
    color: white;
}
