
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
/*
textarea {
    line-height: 1.2;
    list-style-type: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-style: italic;
    font-size: 25px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4), 0 0 10px rgba(255, 255, 255, 0.4);
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 175px;
    resize: none;
    margin: 50px 0;
    padding: 0;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: rgba(255, 255, 255, 0.01);
    color: #E1E1E1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-left: 120px;
}


textarea:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.3);
}


textarea:focus {
    outline: none;
    border-color: rgba(218, 24, 24, 0.5);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(218, 24, 24, 0.5);
}
*/

.image-gallery {

    margin-top: 34px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 60px;
    width: 100%;
    max-width: 2000px;
    margin-left: 20px;
    margin-right: 20px;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.image {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease;
}


.image:hover {
    transform: scale(1.1);
}


.image-caption {
    margin-top: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.image-item:nth-child(2) {
    margin-top: 250px;
}

.image-item:nth-child(4) {
    margin-top: 250px;
}




@media (max-width: 1200px) {
    .image-gallery {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media (max-width: 992px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: 1fr;

    }
}


.custom-button {
    background-color: #DA1818;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    margin: 1px;

    display: inline-block;
}

.custom-button:hover {
    background-color: #b01515 !important;
}

.custom-button:active {
    background-color: #b01515;
}
