


h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);

    padding: 15px;
    border-radius: 10px;

    margin-top: 30px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    table-layout: fixed;
    margin-bottom: 380px;
}

thead {
    background-color: #DA1818;
    color: #ffffff;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05)
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05)
}

tbody td {
    padding: 10px;
}

tbody tr:hover {
    background-color: rgba(290, 290, 290, 0.05)
}

thead th, tbody td {

    padding: 10px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
}

.custom-button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #DA1818;
    outline-color: black;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.custom-button {
    background-color: #DA1818;
    color: #ffffff;
    padding: 5px 20px;
    border: none;
}

.custom-button:hover {
    background-color: #b01515 !important;
    color: #ffffff;
    padding: 5px 20px;
    border: none;
}

.custom-button:active {
    background-color: #b015;
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}




button {
    padding: 8px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.17);
}

button:active {
    background-color: rgba(255, 255, 255, 0.17);
}

button.deleteTaskButton {
    background-color: #DA1818;
}

button.deleteTaskButton:hover {
    background-color: #b01515;
}

button.deleteTaskButton:active {
    background-color: #b01515;
}


@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    button {
        padding: 6px 10px;
        font-size: 0.9rem;
    }
}
thead th:nth-child(1), tbody td:nth-child(1) {
    width: 5%;
}

thead th:nth-child(2), tbody td:nth-child(2) {
    width: 15%;
}

thead th:nth-child(3), tbody td:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4), tbody td:nth-child(4) {
    width: 7%;
}

thead th:nth-child(5), tbody td:nth-child(5) {
    width: 30%;
}

thead th:nth-child(6), tbody td:nth-child(6) {
    width: 7%;
}

thead th:nth-child(7), tbody td:nth-child(7) {
    width: 7%;
}



@media (max-width: 576px) {
    thead th:nth-child(3),
    tbody td:nth-child(3) {
        display: none;
    }

    thead th:nth-child(5),
    tbody td:nth-child(5) {
        display: none;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        display: none;
    }


}

.editing {
    border: 1px dashed black;
    background-color: rgba(255, 255, 255, 0.3);
}

