
h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    color: #ffffff;
    font-size: 15px;
    table-layout: fixed;

}

thead {
    background-color: #DA1818;
    color: #ffffff;
}

thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

tbody td {
    padding: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

}

tbody tr:hover {
    background-color: rgba(290, 290, 290, 0.05);
}

.custom-button {
    background-color: #DA1818;
    color: #ffffff;
    padding: 5px 20px;
    border: none;

}

.custom-button:hover {
    background-color: #b01515 !important;
}

.custom-button:active {
    background-color: #b015;
    transform: translateY(0);
}

button {
    padding: 8px 15px;
    font-size: 1rem;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.17);
}

button.deleteTaskButton {
    background-color: #DA1818;
}

button.editTaskButton {
    background-color: #c6c6c6;
    border-color: #4B4B4B;
}

button.editTaskButton:hover,
button.editTaskButton:focus,
button.editTaskButton:active {
    background-color: #979797;
    border-color: #4B4B4B;
}

button.deleteTaskButton:hover {
    background-color: #b01515;
}

button.viewTaskButton {
    background-color: #d8d8d8;
    border-color: #9ca3af;
}

button.viewTaskButton:hover {
    background-color: #787878;
    border-color: #9f9f9f;
}


thead th:nth-child(1), tbody td:nth-child(1) { width: 4%; }
thead th:nth-child(2), tbody td:nth-child(2) { width: 15%; }
thead th:nth-child(3), tbody td:nth-child(3) { width: 23%; }
thead th:nth-child(4), tbody td:nth-child(4) { width: 10%; }
thead th:nth-child(5), tbody td:nth-child(5) { width: 8%; }
thead th:nth-child(6), tbody td:nth-child(6) { width: 14%; }
thead th:nth-child(7), tbody td:nth-child(7) { width: 9%; }
thead th:nth-child(8), tbody td:nth-child(8) { width: 9%; }
thead th:nth-child(9), tbody td:nth-child(9) { width: 9%; }


@media (max-width: 992px) {
    thead th:nth-child(4), tbody td:nth-child(4) { display: none; } /* Priority */
}

@media (max-width: 768px) {
    thead th:nth-child(3), tbody td:nth-child(3) { display: none; } /* Deadline */
}

@media (max-width: 576px) {
    thead th:nth-child(5), tbody td:nth-child(5) { display: none; } /* Status */
}

@media (max-width: 400px) {
    thead th:nth-child(3), tbody td:nth-child(3) { display: none; } /* Deadline */
    thead th:nth-child(4), tbody td:nth-child(4) { display: none; } /* Priority */
    thead th:nth-child(5), tbody td:nth-child(5) { display: none; } /* Status */
    thead th:nth-child(6), tbody td:nth-child(6) { display: none; } /* Edit */
    thead th:nth-child(7), tbody td:nth-child(7) { display: none; } /* Delete */
}

.editing {
    border: 1px dashed black;
    background-color: rgba(255, 255, 255, 0.3);
}

.taskDescriptionInput,
.taskDeadlineInput,
.taskPriorityInput {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.d-none {
    display: none !important;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease-in-out;
    align-items: center;
    justify-content: center;


}

.modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    color: #333;
    padding: 25px;
    width: 60%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid #DA1818;

    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #DA1818;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;

}

.modal-content h2 {
    text-align: center;
    color: #DA1818;
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
}


.modal-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #444;
}

.modal-content textarea,
.modal-content input[type="file"] {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    color: #333;
    margin-bottom: 15px;
}

.modal-content .saveSolutionButton {
    background-color: #DA1818;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
}

.modal-content .saveSolutionButton:hover {
    background-color: #b01515;
}
.show {
    display: block !important;
    opacity: 1 !important;
}


.input-error {
    border: 2px solid red !important;
    background-color: #ffe6e6;
}

.error-message {
    color: red !important;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
}

.custom-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000;
    max-width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}



.custom-popup p {
    margin: 0;
    padding: 0;
}

.custom-popup button {
    background: white;
    color: #d57171;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    width: 100%;
}






.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background: none;

}

.pagination-container a {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #DA1818FF;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
    border: none;
}

.pagination-container a:hover {
    background-color: #DA1818FF;
}

.pagination-container span {
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #DA1818FF;
    font-weight: normal;
    border-radius: 5px;
}

.filter-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    color: #9f9f9f;
}

.filter-dropdown {
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
